nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

nav p {
  color: #333;
  font-size: 1.1rem;
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}

nav p:hover {
  opacity: 0.8;
}