.App {
  text-align: center;
}
/* Own css */
.lead {
  font-size: 1.2rem;
}

.center {
  display: flex;
  justify-content: center;
}

.white {
  color: white;
}

.f2 {
  font-size: 1.5rem;
}

.f1 {
  font-size: 2rem;
}

.particles { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}