@font-face {
  font-family: 'Share Tech Mono';
  src: url(./ShareTechMono-Regular.ttf);
}


body {
  margin: 0;
  font-family: 'Share Tech Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient( to right, #fc00ff, #00dbde);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
